<footer class="relative left-0 right-0 w-full xl:pt-12 lg:pt-10 pt-8 pb-20 md:pb-8">
  <div
    class="flex flex-wrap justify-center max-w-[1750px] mx-auto gap-footer px-6 md:px-20 lg:px-[75px] py-10 md:py-8 gap-y-3">
    <div class="flex flex-col items-start max-w-[130px] w-full mb-6 md:mb-0">
      <img [src]="'alliance-blue.png' | s3ImageUrl" alt="Logo"
        class="w-full xl:max-w-[130px] lg:max-w-[120px] max-w-[110px]" />
    </div>
    <div class="flex flex-col items-start max-w-[160px] w-full mb-6 md:mb-0">
      <h3 class="xl:mb-6 mb-4 xl:text-[20px] lg:text-[18px] text-[16px] font-[500] font-[space_grotesk] text-[#112F5C]">
        Legal Information</h3>
      <a [href]="legalTermsUrl"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline"
        target="_blank" rel="noopener noreferrer">Terms and Conditions</a>
      <a [href]="licenseUrl"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline"
        target="_blank" rel="noopener noreferrer">License</a>
    </div>
    <div class="flex flex-col items-start max-w-[125px] w-full mb-6 md:mb-0">
      <h3 class="xl:mb-6 mb-4 xl:text-[20px] lg:text-[18px] text-[16px] font-[500] font-[space_grotesk] text-[#112F5C]">
        Resources</h3>
      <a href="#"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline">STAR
        SharePoint</a>
      <a href="#"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline">Alliance
        Power BI</a>
      <a href="#"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline">Glossary
        of Terms</a>
    </div>
    <div class="flex flex-col items-start max-w-[155px] w-full mb-6 md:mb-0">
      <h3 class="xl:mb-6 mb-4 xl:text-[20px] lg:text-[18px] text-[16px] font-[500] font-[space_grotesk] text-[#112F5C]">
        Contact Us</h3>
      <a [href]="'mailto:' + supportUrl"
        class="xl:mb-2.5 mb-1.5 xl:text-[16px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C] hover:underline">Contact
        and Support</a>
    </div>
  </div>
  <hr class="border-t border-gray-300 mx-[90px]" />
  <div class="text-center mt-9 mb-5 xl:text-[15px] lg:text-[14px] text-[13px] font-[400] text-[#112F5C]">
    © 2024 Alliance of Bioversity and CIAT | All rights reserved.
  </div>
</footer>