<app-modal modalName="createResult" [clearModal]="clearModal">
  <app-create-result-modal></app-create-result-modal>
</app-modal>

<app-modal modalName="submitResult" [clearModal]="clearModal" [disabledConfirmIf]="disabledConfirmIf">
  <app-submit-result-content></app-submit-result-content>
</app-modal>

<app-modal modalName="requestPartner" [clearModal]="clearModal">
  <app-request-partner-modal></app-request-partner-modal>
</app-modal>

<app-modal modalName="askForHelp" [clearModal]="clearModal">
  <app-ask-for-help-modal></app-ask-for-help-modal>
</app-modal>

<app-modal modalName="resultInformation" [clearModal]="clearModal">
  <app-result-information-modal></app-result-information-modal>
</app-modal>

<app-modal modalName="addContactPerson" [clearModal]="clearModal">
  <app-add-contact-person-modal></app-add-contact-person-modal>
</app-modal>

<app-modal modalName="selectLinkedResults" [clearModal]="clearModal">
  <app-select-linked-results-modal></app-select-linked-results-modal>
</app-modal>

<app-modal modalName="editEnvironmentVariable" [clearModal]="clearModal">
  <app-edit-environment-variable-modal></app-edit-environment-variable-modal>
</app-modal>
