.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
  transition: all 0.3s ease-in-out;

  &.collapsed {
    .sidebar-title,
    .text {
      display: none;
    }

    .option,
    .sidebar-header {
      justify-content: center;
    }

    .sidebar-icon {
      margin-left: 15px 0;
      rotate: 180deg;
    }

    .h4 {
      text-align: center;
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sidebar-title {
      margin: 15px 0;
    }

    .sidebar-icon {
      background-color: var(--ac-grey-200);
      border-radius: 50%;
      cursor: pointer;
      margin: 15px 0;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .option {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      padding: 10px 0;

      i {
        font-size: 20px;
      }
    }
  }
}
