.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 160px;

  .column {
    flex: 1;

    .title {
      margin: 0;
    }

    .cta {
      margin-top: 15px;
      margin-bottom: 30px;
    }

    .cta-link {
      margin-top: 30px;
    }

    .box {
      padding: 10px 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    }

    .data-container {
      display: flex;
      align-items: flex-end;
      margin-top: 30px;

      .image-farmers {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;

        img {
          width: auto;
          max-width: 200px;
          height: auto;
        }
      }
      p {
        margin: 0;
      }
    }
  }

  .second-column {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      background: linear-gradient(135deg, white, #223b5e);
      padding: 0.8px;
      border-radius: 31px;
      width: 300px;
      height: 300px;
      display: flex;
      margin: 0 30px;

      .card-content {
        background: linear-gradient(135deg, #60728b, #223b5e);
        border-radius: 31px;
        position: relative;
        height: 100%;
        width: 100%;

        .card-image {
          display: block;
          width: 110%;
          position: absolute;
          bottom: 0;
          left: -5%;
        }
      }
    }
  }
}
