<div class="container">
  <div class="column">
    <h1 class="h2 title atc-light-blue-200">Analyze powerful data, make easy life</h1>
    <div class="cta">
      <a href="" class="cta-link atc-white-1" (click)="redirectToCognito()">Get started now</a>
    </div>
    <div class="box atc-light-blue-400 abc-white-1">
      <h2 class="label">REPORT RESULTS</h2>
      <p class="body-2 atc-grey-700">Document and showcase your impact within the organization.</p>
    </div>
  </div>
  <div class="column second-column">
    <div class="card">
      <div class="card-content">
        <img src="/images/farmer.png" alt="farmer" class="card-image" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box atc-light-blue-400 abc-white-1">
      <h2 class="label">DISCOVER RESEARCH RESULTS</h2>
      <p class="body-2 atc-grey-700">Access results across all research areas and stay informed about your colleagues' work.</p>
    </div>
    <div class="data-container">
      <div class="column">
        <div class="image-farmers">
          <img src="/images/farmers.png" alt="farmers" />
        </div>
      </div>
      <div class="column">
        <h1 class="h2 title atc-light-blue-200">+250</h1>
        <p class="body-2 atc-white-1">Here is a space for an important numeric data of the platform.</p>
      </div>
    </div>
  </div>
</div>
