:host {
  display: block;
  width: 100%;
  overflow-x: clip;
}

.landing-banner,
.landing-discover-hero {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1730px;
  margin: 0 auto;
}
