.navbar {
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 0 15px 0 #00000030;

  .logo {
    img {
      height: 45px;
      cursor: pointer;
      margin-right: 70px;
    }

    transition: all ease-in-out 0.3s;
  }

  .options {
    display: flex;
    gap: 35px;
    cursor: pointer;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;

    .option {
      transition: all ease-in-out 0.3s;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 25px;
      font-weight: 500;
      gap: 5px;

      a {
        text-decoration: none;
      }

      i {
        font-weight: 200;
        color: white;
        display: block;
        padding-top: 3px;
      }

      &:hover {
        background-color: #1b1b1b56;
      }

      &.active {
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 7px;
          background-color: #00b6ff;
          position: absolute;
          bottom: 0px;
          left: 0;
          border-radius: 3px;
        }
      }

      .option-icon {
        margin: -10px 0;
      }
    }

    .notification-icon {
      font-size: 1.3rem !important;
    }

    .search-container {
      padding: 0px;
    }
    .search-box {
      background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con 50% de transparencia */
      border-radius: 12px;
      width: 300px;
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        color: white;
        margin: 6px;
      }
    }
    .search-box input {
      border: none;
      outline: none;
      color: white;
      background: transparent;
      flex-grow: 1;
    }

    .search-box input::placeholder {
      color: var(--ac-grey-500);
    }
  }

  .icons-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .notification-dropdown-icon {
    position: relative;

    .notification-dropdown {
      overflow: hidden;
      opacity: 0;
      position: absolute;
      top: 22px;
      right: 22px;
      background-color: white;
      box-shadow: 0 0 5px 0 #001b3130;
      width: 0;
      height: 0;
      z-index: 100;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
      padding: 20px;
    }

    &:hover {
      .notification-dropdown {
        opacity: 1;
        display: block;
        width: 450px;
        height: 300px;
      }
    }
  }

  i {
    cursor: pointer;
  }

  .actions {
    display: flex;
    gap: 35px;
    align-items: center;

    i.notification-dropdown-icon {
      position: relative;

      .notification-dropdown {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 22px;
        right: 22px;
        background-color: white;
        box-shadow: 0 0 5px 0 #001b3130;
        width: 0;
        height: 0;
        z-index: 100;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
        padding: 20px;
      }

      &:hover {
        .notification-dropdown {
          opacity: 1;
          display: block;
          width: 450px;
          height: 300px;
        }
      }
    }

    i {
      cursor: pointer;
    }
  }
}
